.modal-only-confirmation {
  .modal-content {
    background-color: #ffffff;
    border: none;
  }
}

.modal-only-info {
  .modal-content {
    background-color: #f4f6f9;
    border: none;
  }
}

.modal-show-pdf {
  min-width: 700px;
  .modal-content {
    background-color: #f4f6f9;
    border: none;
  }
}

