@font-face {
  font-family: 'Uni.Neue';
  src: url('./Uni.Neue/Fontfabric - UniNeueLight.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Uni.Neue';
  src: url('./Uni.Neue/Fontfabric - UniNeueRegular.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Uni.Neue';
  src: url('./Uni.Neue/Fontfabric - UniNeueBold.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Uni.Neue';
  src: url('./Uni.Neue/Fontfabric - UniNeueBlack.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
