$color-primary-dark: #024a2e;
$color-primary-dark-shade: #286140d8;
$color-primary: #286140;
$color-primary-light: #054e32ce;
$color-primary-light-shade: #639779da;
$color-primary-contrast: #e8f9fd;

$color-secondary-dark: #755419;
$color-secondary-dark-shade: #b9965bde;
$color-secondary: #b9975b;
$color-secondary-light: #ffebc8;
$color-secondary-light-shade: #ffebc8e0;
$color-secondary-contrast: #faeaf6;

$color-danger-dark: rgb(219, 40, 16);
$color-danger-dark-shade: #b43434;
$color-danger: #f73219;
$color-danger-light: #fa6b6b;
$color-danger-light-shade: #c25252;
$color-danger-contrast: #ffe3e3;

$color-success-dark: rgb(13, 139, 1);
$color-success-dark-shade: rgb(49, 163, 39);
$color-success: #10c400;
$color-success-light: #44e036;
$color-success-light-shade: #56db4a;
$color-success-contrast: rgb(245, 255, 245);

$color-tertiary-dark: #5f7316;
$color-tertiary-dark-shade: #9fb24f;
$color-tertiary: #a2c037;
$color-tertiary-light: #d0ea65;
$color-tertiary-light-shade: #e9f4a6;
$color-tertiary-contrast: #f7fae2;

$color-fourty-dark: #ad9a03;
$color-fourty-dark-shade: #d3bf4a;
$color-fourty: #f9dc0a;
$color-fourty-light: #f2de6b;
$color-fourty-light-shade: #f2e49c;
$color-fourty-contrast: #f4edc9;

$color-contrast: #ffffff;
$color-contrast-light: rgba(255, 255, 255, 0.078);

$color-dark-dark: #474747;
$color-dark-shade: #535353;
$color-dark: #666666;
$color-dark-light: #bbbbbb;
$color-dark-light-shade: #666666;
$color-dark-contrast: #ebebeb;

$color-extra-dark: rgb(68, 120, 122);
$color-extra-dark-shade: rgb(46, 116, 119);
$color-extra: #59aaaf;
$color-extra-light: rgb(123, 185, 189);
$color-extra-light-shade: rgb(56, 124, 128);
$color-extra-contrast: #E9F7FD;

$color-skeleton-table: rgb(217, 230, 236);
$color-skeleton-table-shade: rgb(184, 212, 224);

$color-skeleton-planner: rgb(219, 219, 219);
$color-skeleton-planner-shade: rgb(206, 214, 214);

$size-text-input: 1rem;
$box-shadow-card: 0 0 5px -15px rgba(0, 0, 0, 0.25), 0 0px 20px rgba(0, 0, 0, 0.22);

// ---> radios
$rad-small: 5px;
$rad-large: 15px;