.u-text-center {
  text-align: center;
}
.u-relative {
  position: relative;
}
.u-none {
  display: none !important;
}
.u-radius-10{
  border-radius: 10px;
}
.u-block {
  display: block;
}
.u-mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}
.u-mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.u-ml-5 {
  margin-left: 5px;
}
.u-mr-5 {
  margin-right: 5px;
}

.u-mb-15 {
  margin-bottom: 15px;
}
.u-mt-15 {
  margin-top: 15px;
}

.u-mt-10 {
  margin-top: 10px;
}
.u-mt-5 {
  margin-top: 5px;
}
.u-h-100 {
  height: 100%;
}

.u-mx-25{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.u-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.u-pl-10 {
  padding-left: 10px;
}
.u-color-success {
  color: var(--color-green);
}
.u-w-auto {
  width: auto !important;
}
